* {
    margin: 0;
    padding: 0;
}

:root{
    --light-green: #819B57;
    --dark-green: #465929;
    --main-light: #D9D9D9;
    --main-dark: #31261A;
    --white-for-cards: #FAF4EA;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--main-dark);
}
ul {
     list-style-type: none;
}
a {
    text-decoration: none;
    
}
/* .background {
    background: linear-gradient(127deg, rgba(18, 18, 17, 0.78) 0%, rgba(18, 18, 17, 0.6) 63.89%, rgba(18, 18, 17, 0) 100%);
} */

/*! *////////////////* */

/**  HEADER */
.header {
 
}
.header-container {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 0 95px;
    padding-top: 38px;
    height: 59px;
    
}

.header-nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 40px;
   
}
.header-nav-list{
    display: flex;
    flex-grow: 1;
    gap: 64px;
    justify-content: center;
}

.header-nav-link {
font-weight: 400;
font-size: 24px;
text-transform: uppercase;
color: var(--main-light);
}

.header-nav-span {
    font-weight: 700;
}

.header-nav-list {
}

.header-nav-item {
font-weight: 400;
font-size: 18px;
/* text-align: center; */
color: var(--main-light);
}

.header-nav-item-link {
    font-weight: 400;
    font-size: 18px;
    /* text-align: center; */
    color: var(--main-light);
}

.header-nav-item-link:focus, .header-nav-item-link:hover, .header-nav-item-link:active {
    color: var(--light-green);
}

.header-btn {
    background-color: var(--light-green);
    border: 2px solid var(--light-green);
border-radius: 8px;
padding: 16px 32px;
width: 238px;
height: 59px;
color: var(--main-light);
font-weight: 600;
font-size: 18px;
}


.container {
    width: 100%;
    max-width: 1288px;
    padding: 0 24px;
    margin: 0 auto;
}

/** HERO */
.hero {
   
    border-color: var(--light-green);
    /* background-color: var(--light-green); */

}
.hero-title {
    font-weight: 900;
font-size: 128px;
text-align: center;
margin: 175px 159px 272px 159px;
}
.hero-title-span {
color: var(--light-green);
}

.advantages {
    background-color: var(--light-green);
padding: 16px;
}

.advantages-list {
    
    display: flex;
    justify-content: space-between;
   gap: 40px;
   

}
.advantages-item {
    color: var(--main-light);
}

/!***********************/


.traditional {
    margin-bottom: 96px;
}
.traditional-container {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}
.traditional-content {
    display: flex;
 max-width: 710px;
    flex-direction: column;
gap: 42px;
}
.traditional-title {
    font-weight: 900;
font-size: 64px;
line-height: 131%;
color: var(--main-dark);
}
.traditional-text {
    font-weight: 600;
    color: var(--main-dark);

}
.traditional-text.limited { 
max-width: 340px;
}

.traditional-text-span1 {
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--light-green);
}
.traditional-text-span2 {
}
.headchef-span {
color: var(--dark-green);
}