* {
    margin: 0;
    padding: 0;
}

:root{
    --light-green: #819B57;
    --dark-green: #465929;
    --main-light: #D9D9D9;
    --main-dark: #31261A;
    --white-for-cards: #FAF4EA;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--main-dark);
}
ul {
     list-style-type: none;
}
a {
    text-decoration: none;
    
}
.background {
    background: linear-gradient(127deg, rgba(18, 18, 17, 0.78) 0%, rgba(18, 18, 17, 0.6) 63.89%, rgba(18, 18, 17, 0) 100%);
}

/*! *////////////////* */

/**  HEADER */
.header {\


}

.header-nav {
}

.header-nav-link {
font-weight: 400;
font-size: 24px;
text-transform: uppercase;
color: var(--main-light);
}

.header-nav-span {
    font-weight: 700;
}

.header-nav-list {
}

.header-nav-item {
font-weight: 400;
font-size: 18px;
/* text-align: center; */
color: var(--main-light);
}

.header-nav-item-link {
    font-weight: 400;
    font-size: 18px;
    /* text-align: center; */
    color: var(--main-light);
}

.header-nav-item-link:focus {
    font-weight: 600;
    font-size: 18px;
    color: var(--light-green);
}

.header-nav-item-link:hover {
    font-weight: 600;
    font-size: 18px;
    color: var(--light-green);
}

.header-nav-item-link:active {
    font-weight: 600;
    font-size: 18px;
    color: var(--light-green);
}

.header-btn {
    background-color: var(--light-green);
    border: 2px solid var(--light-green);
border-radius: 8px;
padding: 16px 32px;
width: 238px;
height: 59px;
color: var(--main-light);
font-weight: 600;
font-size: 18px;
}

/!************/

/** HERO */
.hero {

}
.hero-title {
    font-weight: 900;
font-size: 128px;
text-align: center;
color: var(--main-light);
}
.hero-title-span {
color: var(--light-green);
}
.hero-list {
    background-color: var(--light-green);
}
.hero-item {
}

/!***********************/

.traditional {
}

.traditional-title {
    font-weight: 900;
font-size: 64px;
line-height: 131%;
color: var(--main-dark);
}
.traditional-text {
    font-weight: 600;
    color: var(--main-dark);
}

.traditional-text-span1 {
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--light-green);
}
.traditional-text-span2 {
}
.headchef-span {
color: var(--dark-green);
}