* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
}
ul {
     list-style-type: none;
}
a {
    text-decoration: none;
    
}
.background {
    background: linear-gradient(127deg, rgba(18, 18, 17, 0.78) 0%, rgba(18, 18, 17, 0.6) 63.89%, rgba(18, 18, 17, 0) 100%);
}

/*! *////////////////* */

/**  HEADER */
.header {

}

.header-nav {
}

.header-nav-link {
font-weight: 400;
font-size: 24px;
text-transform: uppercase;
color: #D9D9D9;
}

.header-nav-span {
    font-weight: 700;
}

.header-nav-list {
}

.header-nav-item {
font-weight: 400;
font-size: 18px;
/* text-align: center; */
color: #D9D9D9;
}

.header-nav-item-link {
    font-weight: 400;
    font-size: 18px;
    /* text-align: center; */
    color: #d9d9d9;
}

.header-nav-item-link:focus {
    font-weight: 600;
    font-size: 18px;
    color: #819B57;
}

.header-nav-item-link:hover {
    font-weight: 600;
    font-size: 18px;
    color: #819B57;
}

.header-nav-item-link:active {
    font-weight: 600;
    font-size: 18px;
    color: #819B57;
}

.header-btn {
    background-color: #819B57;
    border: 2px solid #819B57;
border-radius: 8px;
padding: 16px 32px;
width: 238px;
height: 59px;
color: #d9d9d9;
font-weight: 600;
font-size: 18px;
}

/!************/

/** HERO */
.hero {

}
.hero-title {
    font-weight: 900;
font-size: 128px;
text-align: center;
color: #D9D9D9;
}
.hero-title-span {
color: #819B57;
}
.hero-list {
    background-color: #819B57;
}
.hero-item {
}

/!***********************/

.traditional {
}

.traditional-title {
    font-weight: 900;
font-size: 64px;
line-height: 131%;
color: #31261A;
}
.traditional-text {
    font-weight: 600;
    color: #31261A;
}

.traditional-text-span1 {
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: #819B57;
}
.traditional-text-span2 {
}