.header-container {
    display: flex;
    align-items: center;
    gap: 40px;
     position: absolute;
 top: 0;
 left: 0;
 width: 100%;
padding: 0 95px;
 padding-top: 32px;

}
.header-nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 40px;
    
}
.header-nav-list{
    display: flex;
    flex-grow: 1;
    gap: 64px;
    justify-content: center;
}
.header-nav-link {
font-weight: 400;
font-size: 24px;
text-transform: uppercase;
color: var(--main-light);
}
.header-nav-span {
    font-weight: 700;
}
.header-nav-item {
color: var(--main-light);
}
.header-nav-item-link {
    font-weight: 400;
    font-size: 18px;
    color: var(--color-primery-light);
    transition: color 0.3s;
}
.header-nav-item-link:focus, .header-nav-item-link:hover, .header-nav-item-link:active {
    color: var(--color-brand-normal);
    font-weight: 600;
}
