@use '../components/variables' as *;
@use '../utils/mixins' as *;
.color {
    color: var(--color-brand-normal);
    }
.h2 {
    @include texts(62px, 900, var(--color-primary-dark), 131%);
    margin: 0;
    &--centered {
        text-align: center;
    }
}
.uperrcase {
    text-transform: uppercase;
}