@use '../components/variables' as *;
@use '../utils/mixins' as *;

.advantages-section {
    background-color: var(--color-brand-normal);

    &__list {
        @include display(space-between, center, 40px);
        padding-bottom: 16px;
        padding-top: 16px;
    }

    &__item {
        @include texts(20px, 300, var(--main-light));
    }
}

