@use "../components/variables" as *;
@use "../utils/mixins" as *;

.contact-section {
    padding-bottom: 96px;

    &__container {
        display: flex;
        gap: 32px;
        align-items: flex-start;
    }
    &__form {
        max-width: 605px;
    }
    &__title {
    }
    &__text {
        @include texts(18px, 400, var(--color-primary-dark), 150%);
        margin-bottom: 42px;
        margin-top: 16px;


    }
    &__button {
        display: block;
        margin: 0 auto 16px;
    }
    &__map {
        flex-shrink: 0;
        border: none;
        border-radius: 16px;

    }
    &__form-field {
        margin-bottom: 24px;

    }

}