@use "../components/variables" as *;
@use "../utils/mixins" as *;

.formats-section {

    &__container {
        @include display(center, center, 32px);
        margin-top: 80px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    &__item {
    flex-basis: calc((100% - 40px) / 3);
    }
}

