@use "../components/variables" as *;
@use "../utils/mixins" as *;
.traditional-section {
  &__container {
    @include display(space-between, center, 40px);
  }

  &__content {
    @include display(flex-start, center, 42px);
    max-width: 710px;
    flex-direction: column;
  }
  &__text {
    @include texts(18px, 400, 150%, var(--color-primary-dark));
  }
  &__span {
    font-weight: 900;
  }
}
.traditional-text.limited {
  max-width: 340px;
}
